
<div style="margin-top:20px;">

<form action="/utilisateur/create" method="POST" class="form-signin">

<h2 class="form signin-heading">Créer un compte</h2>




<SELECT calss="form-control" name="usertype" size="1">
<OPTION>Demandeur
<OPTION>Crowdeur

</SELECT>

<input type="text" class="form-control" placeholder="votre identifiant" name="username">
<input type="text" class="form-control" placeholder="email" name="email">
<input type="password" class="form-control" placeholder="mot de passe" name="password">
<input type="password" class="form-control" placeholder="confirmation" name="confirmation">

</br>


<input type="submit" class="btn btn-lg btn-primary btn-block" value="Envoyer la demande"/>

<input type="hidden" name="_csrf" value="<%=_csrf%>" />

</form>

</div>