<div class='container'>
 
 

 <h3><%- utilisateur.usertype %></h3>
 <h3><%- utilisateur.username %></h3>
  <hr>
  <h3>Contact: <%- utilisateur.email %> </h3>

  <a class="btn btn-medium btn-primary" href="/utilisateur/edit/<%= utilisateur.id %>">Modifier</a>

  </div>