<form action="/import/fichier" method="POST" enctype="multipart/form-data">

  <div class="card-body">
    <h5 class="card-title">Importer un fichier</h5>
    <input id="inputFile" name="inputFile" type="file" class="file">
    <button id="import-button" type="submit" >importer</button>
  </div>

</form>
