<form action="/import/fichier" method="POST" enctype="multipart/form-data">

  <div class="card-body" style="margin-left: 300px; width: 300px">
    <h1 class="card-title">Importer un fichier</h1>
    <br>
    <input id="inputFile" name="inputFile" type="file" class="file">
    <br>
    <button id="import-button" class="btn btn-lg btn-primary btn-block" type="submit" >importer</button>
  </div>

</form>
