
<div style="margin-top:20px;">

<form action="/user/create" method="POST" class="form-signin">

<h2 class="form signin-heading">Créer un compte</h2>



<input type="text" class="form-control" placeholder="type" name="type">
<input type="text" class="form-control" placeholder="votre nom" name="name">
<input type="text" class="form-control" placeholder="email" name="email">
<input type="text" class="form-control" placeholder="mot de passe" name="password">
<input type="text" class="form-control" placeholder="confirmation" name="confirmation">

</br>


<input type="submit" class="btn btn-lg btn-primary btn-block" value="Envoyer la demande"/>

<input type="hidden" name="_csrf" value="<%=_csrf%>" />

</form>

</div>